<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gastro Factor</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="logo">Gastro Factor</div>
        <div class="menu">
          <a href="">Home</a>
          <a href="">Minhas Receitas</a>
          <a href="">Sobre</a>
        </div>
        <div class="auth">
          <a href="">Login</a>
          <a href="">Cadastrar</a>
          <img
            alt="Chef Profile"
            class="profile-image"
            src="https://lh3.googleusercontent.com/aida-public/AB6AXuBuAq6afdSd512JpJfuRbpFuZCHapNOOnOnB7W28dA8nntoHs-eUYLh9u443PnVtzijERg-aBrraE_080xcbsEZeQtjWCfz1-jnWY_cXqjQNAV28jagUazJkuzoJagT8jKRh2d_eL2S38__1Z8kAE9Qf_HbbFIvgL38lNtmhsmSth10zB5czTm2ufNQ687fsfx0ih_sn2NIku-hMuUerVtU20ba6WJmFt8_D5KQPTsuLt9giT1QK9IZQ0hAqbFA2F6eiAyIjo_aB-hy"
          />
        </div>
      </nav>
    </header>

    <main>
      <!-- Hero Section -->
      <section class="hero-section">
        <div class="hero-background">
          <img
            class="hero-image"
            src="https://lh3.googleusercontent.com/aida-public/AB6AXuDgNHOvgysTBBg0Yspl3qkGqVoqp_sTUGFF0UfvkHK5it26xeRsVkeo_9ifNty5VzYr1geM-Yg6bJBJxjVRiKBxnbd7v-p-LtmB80FHo9WEvoHFsoZ6TGoWQx-vFGLzElYpr5XeHnbML7Y-8eT8IugVIuhUcUVqWV9y9gA8f43HvnOsJvTBQhrQW4ipcN5u7wpve37pusux0d5vhfLsGEMiKDDwpfP35R6aNqQ2BI4mjO_l7paCXUr7ubKAzopiJwM2AL_DDdCHaKqU"
            alt="Cozinha profissional"
          />
          <div class="hero-overlay"></div>
        </div>

        <div class="hero-content">
          <span class="hero-label">Culinary Mathematics</span>
          <h1 class="hero-title">Precision on the Plate.</h1>
          <p class="hero-subtitle">
            Transform raw ingredients into calculated culinary success with the industry-standard
            for yields and factors.
          </p>
        </div>
      </section>
    </main>
  </body>
</html>
